<script type="text/x-jquery-tmpl" id="modal-template">
    <div class="modal-header">
        <div class="media flex-fill">
            <div class="icon-shape rounded-lg bg-primary text-white mr-5">
                <i class="fe-users"></i>
            </div>
            <div class="media-body align-self-center">
                <h5 class="modal-title">${title}</h5>
                <p class="small">온도 설정</p>
            </div>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        
        {{if type === 'temp'}}
        <!-- Tabs -->
        <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
            <li class="nav-item">
                <a id="tabON" data-mode="ON" class="nav-link" data-toggle="tab" role="tab">ON</a>
            </li>
            {{if power === 255}}
            <li class="nav-item">
                <a id="tabOUT" data-mode="OUT" class="nav-link" data-toggle="tab" role="tab">외출</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a id="tabOFF" data-mode="OFF" class="nav-link" data-toggle="tab" role="tab">OFF</a>
            </li>
        </ul>
        <!-- Tabs -->
		{{/if}}
        
        {{if type === 'ac'}}
        <!-- Tabs -->
        <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
            <li class="nav-item">
                <a id="tabON" data-mode="ON" class="nav-link" data-toggle="tab" role="tab">ON</a>
            </li>
            <li class="nav-item">
                <a id="tabOFF" data-mode="OFF" class="nav-link" data-toggle="tab" role="tab">OFF</a>
            </li>
        </ul>
        <!-- Tabs -->
		{{/if}}

        <label for="temperature" class="small"><span id="modal-ct">현재 ${ct}도</span></label>
        <div class="form-group row mb-0" id="modal-form">
            <div class="col-7 pr-0">
                <input type="number" value="${tt}" min="18" max="30" step="1" data-decimals="1" id="temperature" />
            </div>
            <div class="col-5 text-right">
                <button type="button" class="btn btn-primary d-none" data-td="${td}" data-type="${type}" id="modal-apply">
                    Apply
                    <i class="fe-check ml-auto"></i>
                </button>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-lg btn-block btn-primary d-flex align-items-center" id="modal-apply" data-td="${td}" data-type="${type}">
            Apply
            <i class="fe-check ml-auto"></i>
        </button>
        -->

        <div class="alert alert-dark alert-dismissible fade show" role="alert" id="modalAlert" style="display:none;">
          <strong>Error!</strong> 에러가 발생했습니다.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    </div>
</script>